/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
}
.sidebar {
    width: 60px;
    background-color: #0b2a4a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.sidebar .logo {
    font-size: 24px;
    margin-bottom: 20px;
}
.nav-icons button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin: 20px 0;
    cursor: pointer;
}
.panel-config {
    width: 25vh;
    background-color: #ffffff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-shrink: 0;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}
.panel-config.oculto {
    display: none;
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: #0b2a4a;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
}
section.cajaDashboar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}
.Dashboard {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.headerDash {
    padding: 10px;
    background-color: #eeeeee;
    font-weight: bold;
}
.dashboardProper {
    flex: 1;
    padding: 10px;
}
.myChart {
    max-width: fit-content;
    margin: 3px auto;
    background: white;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


@media (max-width: 768px) {
    section.cajaDashboar {
        grid-template-columns: 1fr;
    }
    .sidebar {
        width: 50px;
    }
    .nav-icons button {
        font-size: 20px;
    }
    .panel-config {
        width: 100%;
    }
} 
canvas {
    display: flex;
    width: 100% !important;
    height: auto !important;
} 
.filters {
    display: relative;
    gap: 2px;
    margin-bottom: 5px;
    align-self: top;
}

.filters div {
    display: flex;
    align-items: center;
    gap: 2px;
}
select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
